# ENV MODE : LOCAL, STAGING, DEVELOP and PRODUCTION

# SECRET_KEY
ENV_NAME = LOCAL
SECRET_KEY=MDEc-5s0BcY9viImSQa1-pq1Cal8XPklpfw-UingcbS3PzHDOYZOAYp2Tl9iAAfwBjk

# DEBUG MODE : True or False
DEBUG = True

# POSTGRESQL
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# RABBITMQ
RABBITMQ_PASS=rabbitmq
RABBITMQ_USER=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# REDIS
REDIS_PASSWORD=cache
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_TTL=900
REDIS_PREFIX=fit_
FERNET_KEY = "Sz4Ss0K6Av8dOBPXntkAsWTVF5WqyS3bDX99D7tX2_E="


# Sentry Configuration
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_ENABLED=true

# PG ADMIN
PGADMIN_DEFAULT_EMAIL=admin@local.com
PGADMIN_DEFAULT_PASSWORD=secret
PGADMIN_LISTEN_PORT=80

# Celery Worker
CONTENT_QUEUE_NAME=content_queue
CONTENT_WORKER_NAME=content_worker

# Flower
FLOWER_USER=fit
FLOWER_PASSWORD=fit

#GEMINI
GEMINI_API_KEY=AIzaSyBTs4IjZ_6pxzKwkX-FSmIr3A3NkXJ5qDU

# JWT
JWT_SECRET_KEY=MDEc-5s0BcY9viImSQa1-pq1Cal8XPklpfw-UingcbS3PzHDOYZOAYp2Tl9iAAfwBjk
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
